@import "lib/govuk-frontend/govuk/base";

.app-related-items {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.app-table {
    overflow-x: auto;
}

.app-table .govuk-table__cell {
   white-space: nowrap;
}

.app-taxableprofit-input {
    @media (max-width: 40.0624em) {
        max-width: none;
    }
}
