@import "lib/govuk-frontend/govuk/base";

.app-related-items {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.app-table {
    overflow-x: auto;
}

.govuk-back-link {
    display: none;
}

.js-enabled {
    .govuk-back-link {
        display: inline-block;
    }
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}